.logo {
    width: auto;
    height: 50px;
}

.navbar-brand {
    height: 100%;
}

.btn-expand {
    width: 100%;
}

.panel-custom {
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
}

.panel-body {
    padding: 0 7px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tbody > tr > td {
    border: none;
}
